<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件配置，namespace指向接口-->
<mapper namespace="com.yang.member_service.dao.idao.test">
    <select id="findObjectById" parameterType="String" resultType="Map">
        select *from organization_city where id = #{param}
    </select>
</mapper>